# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.gradle/
.settings/
.cxx/
.project

Dependencies/Build
Dependencies/Include
Dependencies/Lib
Bin/MacOS
Bin/Windows
Bin/Android
Bin/iOS
Plugins
VulkanUtil/Build
Sample/Build
Sample/*/share/Build
Sample/*/share/Lib
Sample/*/android/app/build
Sample/*/android/local.properties